@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300');

/*MOBILE FIRST CONTENT*/


/*MAIN BODY*/
html {height: 100%;}
body {
    background: url("../Pics/pink-flower.jpg") center center/cover;
    font-family: 'open sans condensed', sans-serif;
    height: 100%;
    background-color: rgba(52,58,64,0);
    color: #f5f5f5;
    letter-spacing: 1.5px;
    overflow: hidden;
}
.main-wrapper {height: 70%; max-height: calc(100vh - 70px); overflow-y: auto;}
span {cursor: pointer;}
.hidden {display: none;}
.padding-none {padding: 0;}
h1, h2, p{text-shadow: 2px 2px 2px #3d3d3d;}
p {font-size:1.5em;}
.ani {height: 100%; animation: slide-in 1s forwards;}
@keyframes slide-in { 0%{height: 80%;} 100%{height: 100%;} }
.card-body{margin-top:-12px;}


/*NAVBAR EDITS*/
.navbar, .navbar-dark, .bg-dark {background-color: rgba(52,58,64,0) !important;}
.active {font-weight: bold;}
.active-bar {border-top: solid 4px #f5f5f5 !important;}
.link-bar {bottom: 40px; padding: 0 30px;}
.link-line {padding: 0px !important; height: 15px; border-top: solid 1px #f5f5f5;}


/*BAR ANIMATION*/
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7.75px, 7.75px);
    transform: rotate(-45deg) translate(-7.75px, 7.75px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7.75px, -7.75px);
    transform: rotate(45deg) translate(-7.75px, -7.75px);
}


/*PORTFOLIO GRID*/
.card {height: 100%; width: 100%;}
.card-body {width: 100%; top:15%; position: absolute; opacity: 0;}
.remove-if-small {display: none;}
.col-xl-4:nth-child(1) .card {background: url("../Pics/DEM.png") center center/cover;}
.col-xl-4:nth-child(2) .card {background: url("../Pics/Oakrest.png") center center/cover;}
.col-xl-4:nth-child(3) .card {background: url("../Pics/PhatPratt.png") center center/cover;}
.col-xl-4:nth-child(4) .card {background: url("../Pics/COLORCOIN.png") center center/cover;}
.col-xl-4:nth-child(5) .card {background: url("../Pics/DemoraesMusic.png") center center/cover;}
.col-xl-4:nth-child(6) .card {background: url("../Pics/BusinessHub.png") center center/cover;}


/*MEDIUM CONTENT*/
@media only screen and (min-width: 767px) {
    .card-body {top:25%;}
    .remove-if-small {display: block;}
}


/*DESKTOP (LARGE) CONTENT*/
@media only screen and (min-width: 992px) {
    p {font-size: 1.6em;}
}