@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/*MOBILE FIRST CONTENT*/
* {
    box-sizing: border-box;
    
  }

/*MAIN BODY*/
html {height: 100%;}
body {
    background: url("../Pics/pink-flower2.jpg") top left/contain;
    font-family: 'Terminal', monospace;
    height: 100%;
    padding: 15px;
    background-color: rgba(52,58,64,0);
    color: #20C20E !important;
    text-shadow: 0.5px 0.5px 15px rgba(81, 255, 62,0.6);
    /* overflow: hidden; */
}
.main-wrapper-fallback{min-height: 70%;}
.main-wrapper {height: auto; position: relative; min-height: calc(100vh - 140px);}
.open {animation: myAnimation linear 0.225s;min-height: calc(100vh - 240px);}
@keyframes myAnimation{
    from{min-height: calc(100vh - 140px);}
    to{min-height: calc(100vh - 240px);}
}
span {cursor: pointer; }
.hidden {display: none;}
.padding-none {padding: 15px;}
h1, h2, p, span{text-shadow: 1px 1px 3px #3d3d3d;text-shadow: 0.5px 0.5px 15px rgba(81, 255, 62,0.6);}
p {font-size:1.2em; margin: 0;}
.ani {height: 100%;}
.card-body{margin-top:-12px; background-color: rgba(0,0,0,0.5);}
.row{align-content: center;}

/*NAVBAR EDITS*/
.link-bar{display: none;}
.navbar, .navbar-dark, .bg-dark {background-color: rgba(52,58,64,0) !important;}
.navbar-nav .nav-link{padding: 0;}
.navbar-brand, .a-link{color: #20C20E !important;}
.active-bar {border-top: solid 4px #20C20E !important;}
.link-line {padding: 0px !important; height: 15px; border-top: solid 1px #20C20E;}
.navbar-dark .navbar-toggler {border: none !important; padding: 0% 0% !important;}

.switch{padding-top:10%; padding-bottom: 96px;}

/*BAR ANIMATION*/
.bar1, .bar2, .bar3 {
    box-shadow: 0.5px 0.5px 15px rgba(81, 255, 62,0.6);
    width: 35px;
    height: 5px;
    background-color: #20C20E;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 1px;
    padding: 0;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7.75px, 7.75px);
    transform: rotate(-45deg) translate(-7.75px, 7.75px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7.75px, -7.75px);
    transform: rotate(45deg) translate(-7.75px, -7.75px);
}
.word-break{word-wrap: break-word;}

/*FOOTER*/
footer {
    position: absolute;
    bottom: 0;
  }
  footer span {
    cursor: default !important;
  }

/*MEDIUM CONTENT*/
@media only screen and (min-width: 767px) {
    .remove-if-small {display: block;}
    .link-bar {bottom: 40px; padding: 0 30px;}
}


/*DESKTOP (LARGE) CONTENT*/
@media only screen and (min-width: 992px) {
    p {font-size: 1.6em;}
}




 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) { }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) { }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) { }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) { }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) { } 