html,body{height: 90%;}
#holder{min-height: 100%;}

body {
  font: 18px "Segoe UI",Arial,sans-serif;
  text-align: center;
  background: #444;
}
/*HEADER*/
.header {
  height: auto;
  background: #383838;
  color: #FFF;
  margin-top: -30px;
}
h1,h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  font-weight: lighter;
  padding: 10px;
}
h1 {font-size: 50px;}


/*PROJECT BUTTONS*/
#RIFCObutton {
  background: linear-gradient(to bottom, rgba(9,176,232,1) 0%,
  rgba(13,121,171,1) 100%);;
  color: #FFFFFF;
  font-weight: 300;
  width: 25%;
  font-size: 16px;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
}
#RIFCObutton:hover {opacity: 0.8;}
.projectButtons a {color: #FFF; text-decoration: none;}
.projectButtons {padding-bottom: 10px;}


/*ICONS*/
.fa {
    padding: 15px;
    font-size: 30px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {opacity: 0.8;}
.fa-twitter {background: #55ACEE; color: white;}
.fa-facebook {background: #3B5998; color: white;}
.fa-github {background: grey; color: white;}
.logos{font-size: 40px;}


/*FOOTER*/
.footer {
  background-color: #383838;
  width: 100%;
  min-height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer p {font-size: 16px; color: #FFF}
#footerEmail {
  left: 0;
  bottom: 0;
  position: fixed;
  margin-bottom: 30px;
  padding-left: 10px;
}
#leftSide {
  left: 0;
  bottom: 0;
  position: fixed;
  margin-bottom: -11px;
  padding-left: 10px;
}
#rightSide {
  font-size: 30px;
  padding: 0 10px 10px 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
