@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300');

html, body {
  background: #444;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  color: #FFF;
}

.jumbotron {
  text-align: center;
  background: #383838;
}

.btn {
  width: 100%;
}

.btn-light {
  font-family: Lobster, cursive;
  font-size: 1.2em;
  letter-spacing: normal;
}

.rifco {
  background: rgba(13,121,171,1);
  background: linear-gradient(to bottom, rgba(9,176,232,1) 0%,
  rgba(13,121,171,1) 100%);;
  color: #FFFFFF! important;
  font-family:"Segoe UI",Arial,sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: normal;
}

.col-12 {
  padding-bottom: 15px;
}

footer span {
  color: #000;
}

/*ICONS*/
.fab:hover {opacity: 0.8; text-decoration: none; color: white;}
.fa-twitter {color: #55ACEE;}
.fa-fonticons-fi {color: #03b525;}
.fa-github {color: grey;}
