/*Logo*/
.avatar {margin-left: -39px;}


/*Username title*/
#usr{display: block;}

/*Login Content*/
.modal {
  font: 22px 'Lato', sans-serif;
  color: #6D7371;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

/* Login input fields */
#usrnme{
  font-family:"Segoe UI",Arial,sans-serif;
  width: 100%;
  padding: 15px 7px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

p{
  text-align: center;
}
